<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body><nav th:fragment = "layout"class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Projects IO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
     
        </a>
      
      </li>
      <li class="nav-item">
        <a class="nav-link "href="http://springprojectmanagementapp.herokuapp.com">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://springprojectmanagementapp.herokuapp.com/listemployee">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "href="http://springprojectmanagementapp.herokuapp.com/projects">Projects</a>
      </li>
    </ul>
   
  </div>
</nav>


<h4> Current project </h4>

<table>
<thead>
<tr>
<th> Project name </th>
<th> Project stage </th>

</tr>
</thead>
</tbody>
<tr th:each="aProject : ${projects}">
<td th:text="${aProject.name}">
<td th:text="${aProject.stage}">
</td>
</table>


<h4> Current Employees </h4>

<table>
<thead>
<tr>
<th> First name </th>
<th> Last name </th>
<th> Project count </th>
</tr>
</thead>
</tbody>
<tr th:each="aEmployeeprojectcount: ${employeesListProjectCnt}">
<td th:text="${aEmployeeprojectcount.firstName}">
<td th:text="${aEmployeeprojectcount.lastName}">
<td th:text="${aEmployeeprojectcount.projectCount}">

</table>

</body>

</html>